nextflow.enable.dsl = 2

params {
  samplesheet = "samplesheet.csv"
  outdir      = "Results"
}

docker {
  enabled = false
}

process {
  // sensible defaults
  cpus   = 2
  memory = '2 GB'
  time   = '2h'

  withName:DOWNLOAD_COUNTS {
    cpus   = 1
    memory = '1 GB'
    time   = '30m'
  }

  withName:MAKE_ADATA {
    cpus   = 2
    memory = '6 GB'
    time   = '2h'
  }

  withName:SOLO_DOUBLET {
    cpus   = 6
    memory = '12 GB'
    time   = '8h'
  }

  withName:QC_FILTER {
    cpus   = 2
    memory = '6 GB'
    time   = '2h'
  }

  withName:SCANPY_CLUSTER {
    cpus   = 4
    memory = '8 GB'
    time   = '4h'
  }

  withName:SCVI_INTEGRATE {
    cpus   = 6
    memory = '14 GB'
    time   = '10h'
  }

  withName:SCANPY_DE_AND_PLOTS {
    cpus   = 4
    memory = '8 GB'
    time   = '4h'
  }

  withName:CELLTYPE_ANNOTATE_AND_PLOTS {
    cpus   = 2
    memory = '4 GB'
    time   = '2h'
  }
}


profiles {
  docker {
    docker.enabled = true
    process.container = 'continuumio/miniconda3:latest'
    docker.runOptions = '-v ${PWD}:${PWD}'
  }
  
  conda {
    conda.enabled = true
    conda.autoActivate = true
  }
  
  local {
    process.executor = 'local'
  }
}

process {
  conda = "conda-forge::python=3.11 conda-forge::pip " +
          "conda-forge::numpy conda-forge::pandas conda-forge::matplotlib " +
          "conda-forge::scikit-learn conda-forge::anndata " +
          "bioconda::scanpy=1.10.1 conda-forge::requests"
}
